/* Color Pallete:
    #f1f1f1 - "grey"
    #fdb827 - "gold"
    #21209c - "blue"
    #23120b - "black"
*/


html{
    scroll-behavior: smooth;
    overflow: auto;
}

main{
    overflow: hidden;
    flex: 1 0;
}

body{
    height: 100%;
}

.container-fluid{
    position: relative;
    margin: 0%;
}



/* Navbar */
nav {
    background: linear-gradient(270deg, rgba(35,18,11,1) 50%, rgba(253,184,39,1) 50%) !important;
    width: 100%;
    border: 0;
    box-shadow: none !important;
}



nav a, li{
    color: #f1f1f1 !important;
    font-size: 1.5rem !important;
}




.sidenav{
    background: linear-gradient(357deg, rgba(255,125,44,1) 0%, rgba(255,238,43,1) 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#mobile-demo a, li{
    font-weight: bold;
    font-size: 3rem;
    margin: 25px;
}

@media screen and (min-width: 768px) {
    #mobile-demo a, li {
        margin: 0;
    }

}




/* Landing Page */
#landing{
    height: 100vh;
    background: linear-gradient(270deg, rgba(35,18,11,1) 50%, rgba(253,184,39,1) 50%) !important;
    display: grid;
    place-content: center;
}

#caption{
    color: #f1f1f1;
    font-size: 2rem !important;
}




/* Audio Player Section */
#consoleSection{
    height: 100vh; 
    
} 

.offset1{
    font-size: 9rem;
    position: absolute;
    display: flex;
    justify-content: left;
    width: 70%;
    height: 50%;
    top: 10%;
    z-index: 0;
    animation-delay: 10s;
    animation: offsetDown 10s infinite ;
}

    @keyframes offsetDown{
        0%{
            transform: translateX(0%);
        }

        50%{
            transform: translateX(-30%);
        }
        100%{

            transform: translateX(0%);
        }

    }

.offset2{
    font-size: 9rem;
    position: absolute;
    display: flex;
    justify-content: left;
    width: 60%;
    height: 50%;
    top: 50%;
    z-index: 0;
    animation-delay: 10s;
    animation: offsetUp 10s infinite;
}

@keyframes offsetUp{
    0%{
        transform: translateX(0%);
    }

    50%{
        transform: translateX(30%);
    }
    100%{

        transform: translateX(0%);
    }

}


#playerConsole{
    display: grid;
    place-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.card{
    background: linear-gradient(4deg, rgba(0,0,0,1) 0%, rgba(253,184,39,1) 100%);
    border-radius: 2% !important;
    box-shadow: 0px 10px 10px black;
    
}


#albumImage{
    margin: 25px;
    height: 250px;
    width: 250px;
    background-size: cover;
    border-radius: 15%;
  }

.card-content{
    color: #f1f1f1;
    z-index: 1;
    text-align: center;
}

#audio-controls button{
    color: #f1f1f1 !important;
}

#play{
    border: 2px solid #f1f1f1;
    border-radius: 50%;
}



.slider_container{
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 5rem;
}
.slider_container input{
    border: none !important;
    width: 50%;
    padding: 5px;
}

.thumb{
    display: none;
}
 

#audio-controls, #track-info{
    margin-top: 25px;
    font-size: 1.2rem;
}

h2{
    z-index: 100;
}

button{
    background-color: inherit;
    border: none;
}

#audio-controls i{
    margin: 2px;
    padding: 2px;
}






/* Artist credit Section */
#credit{
    background-color: #f1f1f1;
    text-align: center;

    
}




#credit-card{
    background: linear-gradient(0deg, rgba(99,99,175,1) 0%, rgba(74,73,168,1) 1%, rgba(55,54,162,1) 30%, rgba(33,32,156,1) 100%);
    color: #fdb827;
    border-radius: 5%;
    box-shadow: 0px 0px 5px black;
    max-width: 380px;
}

#credit-card a{
    color: #f1f1f1;
}

#credit-height{
    height: auto;
    margin-bottom: 0px !important;
    width: 100vw;
    min-height: 100vh;    
    padding: 0;
    
}

span p{
    font-weight: bold;
}



footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 768px) {
 
    #playerConsole{
        justify-content: center;
        align-items: center;
        transform: translate(0%, 20%);
        text-align: center;

    }

    
        @keyframes offsetDown{
            0%{
                transform: translateX(0%);
            }
    
            50%{
                transform: translateX(-60%);
            }
            100%{
    
                transform: translateX(0%);
            }
    
        }
    

    
    @keyframes offsetUp{
        0%{
            transform: translateX(0%);
        }
    
        50%{
            transform: translateX(65%);
        }
        100%{
    
            transform: translateX(0%);
        }
    
    }


}

@media screen and (min-width: 1024px) {
    #playerConsole{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0%, 40%);
    }
    @keyframes offsetDown{
        0%{
            transform: translateX(0%);
        }

        50%{
            transform: translateX(-45%);
        }
        100%{

            transform: translateX(0%);
        }

    }



@keyframes offsetUp{
    0%{
        transform: translateX(0%);
    }

    50%{
        transform: translateX(50%);
    }
    100%{

        transform: translateX(0%);
    }

}

       .brand-logo {
           margin-left: 25px;
       }
  }

@media screen and (min-width: 1280px) {


    #playerConsole{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0%, 10%);
    }
    
    #credit-height{
        max-width: 90%;
    }
    @keyframes offsetDown{
        0%{
            transform: translateX(0%);
        }

        50%{
            transform: translateX(-35%);
        }
        100%{

            transform: translateX(0%);
        }

    }



@keyframes offsetUp{
    0%{
        transform: translateX(0%);
    }

    50%{
        transform: translateX(40%);
    }
    100%{

        transform: translateX(0%);
    }

}


    


}

@media screen and (min-width: 1500px) {
    
    #credit-height{
        max-width: 60%;
    }
    



}